header{
    width: 100%;
    background-color: var(--red);
    color: white;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    padding: 15px;
}